.MasterPage {
  height: 100%;
  margin: 0 auto;
  width: calc(100% - 100px);

  > .tabs {
    display: flex;
    height: 30px;
    margin: 0 10px;

    > .tab {
      background: lightgrey;
      border: none;
      border-bottom: 0;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      flex-grow: 1;
      font-size: 15px;
      padding: 5px 0;
      margin: 0 3px;
      text-align: center;

      &:hover,
      &.active {
        background-color: #111827;
        color: lightgrey;
      }
    }
  }

  > .container {
    background: rgba(#000, 0.1);
    height: calc(100% - 30px);

    > .containerTabs {
      display: flex;

      > .containerTab {
        background: lightgrey;
        border: none;
        border-right: 1px solid #000;
        color: black;
        cursor: pointer;
        flex-grow: 1;
        font-size: 15px;
        padding: 5px 0;
        text-align: center;

        &:hover,
        &.active {
          color: white;
          background-color: #111827;
          border-bottom: 1px solid #111827;
        }

        &.newTab {
          border-top-left-radius: 5px;
          border-left: 0;
        }

        &.viewTab {
          border-top-right-radius: 5px;
          border-right: 0;
        }
      }
    }

    > .containerContent {
      display: flex;
      margin: 0 auto;
      max-width: 900px;
      padding: 20px;

      > .tableWrapper {
        overflow-x: auto;

        > table {
          max-width: 100%;
        }
      }
    }
  }
}
