.MasterForm {
  width: 100%;

  > form {
    display: flex;
    width: 100%;

    > div {
      flex: 1;

      > div {
        padding: 5px 0;

        > input[type="text"] {
          margin-left: 5px;
        }

        > select {
          margin-top: 5px;
        }
      }

      > img {
        border: 1px solid black;
        height: 150px;
        width: 150px;
      }

      &:last-of-type {
        display: flex;
        flex: 0.25;
        flex-direction: column;
        height: 150px;
        justify-content: space-around;

        > button {
          background-color: #008cff;
          border: 0;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          padding: 10px 10px;

          &.delete {
            background-color: red;
          }
        }
      }
    }
  }
}
